openai-whisper
torch
torchaudio
silero-vad
sounddevice
soundfile
numpy
pandas
jiwer
faster-whisper
pyaudio
scipy
groq
python-dotenv
gTTS
edge-tts
pygame
requests
datasets
transformers>=4.40,<5.0
google-genai
imageio-ffmpeg
coqui-tts[codec]
